.home {
	position: relative;
	height: 100vh;
	gap: 150px;
	display: flex;
	align-items: center;
	padding: 0 10%;
	visibility: hidden;
	opacity: 0;
	animation: show 1.5s linear forwards;
	animation-delay: 1.2s;
}

@keyframes show {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

.home-content {
	max-width: 600px;
}
.home-content h1 {
	font-size: 56px;
	line-height: 1.2;
}
.home-content h3 {
	display: inline-block;
	color: #00abf0;
}
.home-content h3 span {
	position: relative;
	display: inline-block;
	color: transparent;
	-webkit-text-stroke: 0.7px #00abf0;
	animation: display-text 8s linear infinite;
	animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
	50%,
	100% {
		display: none;
	}
}
.home-content h3 span::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	border-right: 1px solid #00abf0;
	color: #00abf0;
	white-space: nowrap;
	overflow: hidden;
	animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
	10%,
	100% {
		width: 0%;
	}
	90%,
	70% {
		width: 100%;
	}
}

.home-content p {
	font-size: 16px;
	margin: 20px 0 40px;
}
.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}
.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background-color: #00abf0;
	border: 2px solid #00abf0;
	border-radius: 8px;
	font-size: 19px;
	color: #081b29;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}
.btn-box a:nth-child(2) {
	background: transparent;
	color: #00abf0;
}

.btn-box a:nth-child(2):hover {
	color: #081b29;
}
.btn-box a:nth-child(2)::before {
	background-color: #00abf0;
}

.btn-box a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #081b29;
	z-index: -1;
	transition: 0.5s;
}

.btn-box a:hover::before {
	width: 100%;
	color: #00abf0;
}
.btn-box a:hover {
	color: #00abf0;
}

.home-icon-box {
	position: absolute;
	bottom: 40px;
	width: 170px;

	display: flex;
	justify-content: space-between;
}
.home-icon-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius: 50%;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	overflow: hidden;
	z-index: 1;
	transition: 0.5s;
}

.home-icon-box a:hover i {
	color: #081b29;
}

.home-icon-box a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	background-color: #00abf0;
	transition: 0.5s;
}
.home-icon-box a:hover::before {
	width: 100%;
}

.image-container {
	position: absolute;
	top: 100px;
	right: 200px;
}

.home-img .img-box {
	position: relative;
	width: 32vw;
	height: 32vw;
	border-radius: 50%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
	content: "";
	position: absolute;
	width: 32vw;
	height: 32vw;
	background: conic-gradient(transparent, transparent, transparent, #00abf0);
	transform: rotate(0deg);
	animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after {
	animation-delay: -5s;
}
@keyframes rotate-border {
	100% {
		transform: rotate(360deg);
	}
}

.home-img .img-box .img-item {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #081b29;
	border-radius: 50%;
	border: 0.1px solid #081b29;
	display: flex;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
}
.home-img .img-box .img-item img {
	position: absolute;
	bottom: 0;
	right: 10px;
	display: block;
	width: 85%;
	object-fit: cover;
	mix-blend-mode: lighten;
}
