@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
header {
	visibility: hidden;
	opacity: 0;
	animation: show 1.5s linear forwards;
	animation-delay: 1.2s;
}

@keyframes show {
	100% {
		visibility: visible;
		opacity: 1;
	}
}
.logo {
	font-size: 25px;
	color: #ededed;
	text-decoration: none;
	font-weight: 600;
}
.navbar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: 0.3s;
}

.navbar a:hover,
.navbar .active {
	color: #00abf0;
}
